@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #242526;
    --bg-accent: #613486;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
    background-color:rgba(163, 112, 230, 0.76) ;
}
