.homepage {
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: var(--nav-size);
}
    

.loginlayout {
    background-color: var(--bg-accent);
    width: 33.3%;
    height: 100%;
    border: 10px solid red;

}
    .loginwelcome {
        min-height: fit-content;
        margin-top: 15px;
        height:300px;
        margin-left: 15%;
        margin-right: 15%;
        border: 10px solid blue;
    }
.news {
    position:absolute;
    width: 66.7%;
    height: 100%;
    right: 0ch;
    top:0ch;
    border: 10px solid greenyellow;
    justify-content: center;
    align-items: center;
    
}